In [18]:
import pickle
import pandas as pd

In [38]:
df1 = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv')
df2 = pd.read_csv('https://raw.githubusercontent.com/dirtylittledirtbike/census_data/master/census_formatted3.csv')
my_string = 'hey'
my_list = [1,2,3]
my_dict = {'a':[1,2,3], 'b':[4,5,6]}

In [39]:
# df1.columns.to_list()
# df2.columns.to_list()

In [40]:
with open('my.pickle', 'wb') as file:
    pickle.dump(df1, file)
    pickle.dump(df2, file)
    pickle.dump(my_string, file)
    pickle.dump(my_list, file)
    pickle.dump(my_dict, file)

In [41]:
# varible_list = [df1, df2, my_string, my_list, my_dict]

In [42]:
del df1
del df2
del my_string
del my_list
del my_dict

In [43]:
with open('my.pickle', 'rb') as file:
    df1 = pickle.load(file)
    df2 = pickle.load(file)
    my_string = pickle.load(file)
    my_list = pickle.load(file)
    my_dict = pickle.load(file)

In [44]:
variable_list = [df1, df2, my_string, my_list, my_dict]

In [45]:
for var in variable_list:
    print(type(var))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [20]:
df2

      population       state         county
0          55869     Alabama        Autauga
1         223234     Alabama        Baldwin
2          24686     Alabama        Barbour
3          22394     Alabama           Bibb
4          57826     Alabama         Blount
...          ...         ...            ...
3142        6927     Wyoming         Weston
3143     8336817    New York  New York City
3144      450975    Missouri    Kansas City
3145       48162    Missouri         Joplin
3146      218195  New Mexico       Doña Ana

[3147 rows x 3 columns]

In [5]:
from collections import defaultdict

fruit_count = defaultdict(int)
fruits = ['apple', 'orange', 'orange', 'pear']

for fruit in fruits:
    fruit_count[fruit] += 1

0

In [8]:
games = ['tic tac toe', 'hopscotch', ['jacks', 'marbles'], 'tag']
recess_games = list(games)

games[0] = 'simon says'
games[2][0] = 'pick up sticks'

print(recess_games[0])
print(recess_games[2][0])

tic tac toe
pick up sticks

In [10]:
prices = [10.99, 35.50, 3.89, 2.97]
items = ['calendar', 'hair dryer', 'birthday card', 'magnet']

for idx, prices in enumerate(prices):
    if prices > 20:
        print(items[idx])

hair dryer